@model BoilerMonitoringAPI.Models.Boiler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Boilers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoilerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoilerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoilerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoilerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoilerStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoilerStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home.HomeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BoilerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
